*{box-sizing: border-box;} /*for repsonsive web building*/

body{
    background-color: #0766AD;
    /*width:100%;*/
    border: 15px #29adb2;
    padding:50px;
    margin: 10px;
}
.title{
    border-style: solid;
    background-color: #29adb2 ;
    padding: 20px;
    text-align: center;
}
div.tile{  
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;}
div.tile img{
        width: 100%;
        height: auto;
    }
div.desc{
    padding: 15px;
    text-align:center;
}
/*.tile-container{
    display: inline-grid;
    column-gap: 50px;
    row-gap: 50px;
    padding: 10px;
    grid-template-columns: auto auto auto;
    background-color: #29adb2;
}*/

/*p{
    border-style: solid;
    text-align: center;
    outline:#29adb2 solid 2px;
    background-color: f3f3f3;
    margin: auto;
}*/
img{ 
    border-style: solid; 
    /*height 180px; width 150px*/
}
p.blurb{
    border:2px solid black;
    outline:#f3f3f3 solid 10px;
    background-color: #29adb2;
    margin: auto;
    padding: 20px;
    text-align: center;
   /* width:50%;
    color: #29adb2;*/
}
.clearfix:after{
    /*border-style: solid;
    background-color: #29adb2 ;
    padding: 20px;
    text-align: center;*/
    content: "";
    display: table;
    clear: both;}
footer{border-style: solid;
    background-color: #29adb2 ;
    padding: 20px;
    text-align: center;}

/* Taken from class for responsiveness of website uncertain of what this does
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
    /* p {
      color: purple
    } 
  }
  
  /* @media only screen and (max-width: 500px) {
  
    p {
      color: purple
    }
  } 
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media only screen and (max-width: 320px) {
    p {
      color: pink;
    }
  }*/