* {
  box-sizing: border-box;
}

/*for repsonsive web building*/



body {
  background-color: #f3f3f3;
  /*width:100%;*/
  border: 15px #29adb2;
  padding: 20px;
  margin: auto;
}

.header {
  border-style: solid;
  background-color: #29adb2;
  padding: 20px;
  text-align: center;
}

/*COLUMN LAYOUT FOR EACH MEMBER PICTURE*/
/* 
UNSURE OF THE PUPOSE OF THIS CODE 
*,
*:before,
*:after {
  box-sizing: inherit;
}
*/
.grid {
  max-width: auto;
  margin: auto;
}

.column {
  float: left;
  width: 33.3%;
  margin: auto;
}

.tile::after,
.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 20px
}

/* FLIP CARD SECTION*/

.flip-card {
  padding: 0 20px;
  margin: auto;
}

div.tile {
  margin: 5px;
  border: 1px solid #0766AD;
  /*float: left;*/
  width: 300px;
  /*padding: 0 16px;*/
}


div.tile:hover {
  border: 1px solid #0766AD
}

/*div.tile img {
  width: 100%;
  height: 300px;
}*/

div.desc {
  padding: 20px;
  text-align: center;
}

/*.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}*/

/* FLIP CARD CODE
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect *-/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect *-/
}

/* This container is needed to position the front and back side *-/
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container *-/
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side *-/
.tile, .desc {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari *-/
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) *-/
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side *-/
.desc {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

END OF CODE for flip*/

/*.tile-container{
    display: inline-grid;
    column-gap: 50px;
    row-gap: 50px;
    padding: 10px;
    grid-template-columns: auto auto auto;
    background-color: #29adb2;
}*/

/*p{
    border-style: solid;
    text-align: center;
    outline:#29adb2 solid 2px;
    background-color: f3f3f3;
    margin: auto;
}*/
/*
img {
  border-style: solid;
  /*height 180px; width 150px
}*/

p.blurb {
  border: 2px solid black;
  outline: #f3f3f3 solid 10px;
  background-color: #29adb2;
  margin: auto;
  padding: 20px;
  text-align: center;
  /* width:50%;
    color: #29adb2;*/
}

.clearfix:after {
  /*border-style: solid;
    background-color: #29adb2 ;
    padding: 20px;
    text-align: center;*/
  content: "";
  display: table;
  clear: both;
}

footer {
  border-style: solid;
  background-color: #29adb2;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px
  }


  /* Taken from class for responsiveness of website uncertain of what this does
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
    /* p {
      color: purple
    } 
  }
  
  /* @media only screen and (max-width: 500px) {
  
    p {
      color: purple
    }
  } 
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media only screen and (max-width: 320px) {
    p {
      color: pink;
    }
  }*/